@{
    ViewData["Title"] = "List Page";
}
@model IEnumerable<ShortUrl.Client.Models.Token>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Url List</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    id
                </th>
                <th>
                    Original URL
                </th>
                <th>
                    Short URL
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @($"http://localhost:5001/{item.OriginalUrl}");
                    </td>
                    <td>
                        @item.ShortUrl
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>